/*General Start*/
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  color: #393939;
  background-color: #f9f8f6;
  margin: 0;
  padding: 0;
}
/* general end */
.artmotion_header {
  height: 100px;
  position: fixed;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 2;
}
.artmotion_header .artmotion_header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.artmotion_header .artmotion_header_content .artmotion_header_menu_list ul {
  list-style-type: none;
  margin: 10px;
  display: flex;
}
.artmotion_header .artmotion_header_content .artmotion_header_menu_list li {
  margin-left: 30px;
  font-size: 18px;
  line-height: 18px;
}
.artmotion_header .artmotion_header_content .artmotion_header_menu_list a {
  position: relative;
  text-decoration: none;
  color: #393939;
}
.artmotion_header .artmotion_header_content .artmotion_header_menu_list a:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -10px;
  height: 2px;
  background: black;
  width: 0px;
  transition: all 0.3s ease-in-out;
}
.artmotion_header .artmotion_header_content .artmotion_header_menu_list a:hover:after {
  width: calc(100% + 20px);
}
.artmotion_header .icon_header img {
  width: 120px;
}
/*end header*/
/*content*/
.artmotion_container_wrapper {
  width: 100%;
  height: 400px;
  position: relative;
  padding-top: 200px;
}
.artmotion_container_wrapper_icon {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.artmotion_container_wrapper_icon .icon {
  width: 30%;
  text-align: center;
}
.artmotion_container_wrapper_icon img {
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.artmotion_container_wrapper_info {
  width: 100%;
  height: 200px;
  position: relative;
}
.artmotion_container_wrapper_info .artmotion_container_wrapper_info_icon {
  justify-content: center;
  right: 200px;
  position: absolute;
  top: 200px;
  width: 200px;
  height: 100px;
}
.artmotion_container_wrapper_info .artmotion_container_wrapper_info_icon img {
  color: white;
  display: flex;
  justify-content: center;
}
.artmotion_container_wrapper_info .artmotion_container_wrapper_info_icon a {
  display: flex;
  color: white;
  text-decoration-style: solid;
  margin-top: 20px;
}
.artmotion_container_wrapper_pako {
  display: inline;
  justify-content: center;
  width: 100%;
  height: 300px;
}
.artmotion_container_wrapper_pako .artmotion_container_wrapper_pako_info {
  margin-top: 100px;
}
