@media(max-width: 992px) {
    /** Our Work Section **/
    .our_work_section {
      .instagram-image {
        width: 48% !important;
      }
    }
    /** End Our Work Section **/
  
  }
  @media(max-width: 780px){
  
    /** GENERAL **/
    .content-title {
      margin-bottom: 25px;
      text-align: left;
    }
    .content-subtitle {
      text-align: left;
    }
    .icon {
      a {
        min-width: 40px;
        height: 40px;
        i {
          font-size: 18px;
        }
      }
  
    }
    /** END GENERAL **/
  

}

@media(max-width: 780px){

  /* HEADER */

  .skynet_header {
    height: 60px;
    .skynet_header_content{
      height: 60px;
      .logo{
        img {
          height: 40px;
        }
      }
      .skynet_header_menu_list {
        max-height: 0px;
        overflow: hidden;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background: @primary;
        ul{
          display: flex;
          flex-direction: column;
          padding-top: 20px;
          li{
            margin-left: 20px;
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 20px;
            a {
              color : white;
            }
          }
        }
      }
      .skynet_hamburger {
        display: block;
      }
    }
  }

  /* END HEADER */



  /* GENERAL ELEMENTS */

  .content_wrapper {
    padding-top: 60px;
    overflow: hidden;
  }

  /* END GENERAL ELEMENTS */


  /* TYPOGRAPHY */
    h1,h2,h3 {
      font-size: 24px;
      line-height: 28px;
    }
    h4 {
      font-size: 18px;
      line-height: 22px;
    }
    p,h6,a {
      font-size: 14px;
      line-height: 20px;
    }
    ul {
      li {
        font-size: 14px;
        line-height: 20px;
      }
    }
  /* END TYPOGRAPHY */







  /* CONTENT ELEMENTS  */

  .banner_layout {
    height: calc(100vh - 60px);
    margin-bottom: 60px;
    .intro_text_wrapper{
      .intro_text {
        .main_title {
          font-size: 40px;
          line-height: 60px;
        }
        .intro_text_quote {
          padding: 14px 50px;
          p {
            font-size: 18px;
          }

        }
      }
    }
  }
  .our_services_layout {
    margin-bottom: 60px;
    h2 {
      margin-bottom: 20px;
    }
    .our_service_box {
      box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.16);
      padding: 24px 15px 15px;
      height: auto;
      margin-bottom: 30px;
    }
  }
  .images_layout {
    margin-bottom: 60px;
    .image_wrapper {
      margin-bottom: 20px;
    }
  }
  .tech_support_layout {
    margin-bottom: 60px;
    padding: 20px 0px;
    color : white;
    background:@primary;
    .tech_support_person {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      svg {
        width: 50%;
      }
    }
  }
  /* END CONTENT ELEMENTS  */



  .wrapper_404 {
    h1 {
      font-size: 80px;
      line-height: 80px;
    }
    h3 {
      font-size: 40px;
      line-height: 50px;
    }
  }



}