body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #393939;
  background-color: white;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
/* general end */
/** GENERAL **/
@media(max-width: 992px) {
  /** Our Work Section **/
  .our_work_section {
    .instagram-image {
      width: 48% !important;
    }
  }
  /** End Our Work Section **/

}
@media(max-width: 780px){

  /** GENERAL **/
  .content-title {
    margin-bottom: 25px;
    text-align: left;
  }
  .content-subtitle {
    text-align: left;
  }

  }
  /** END GENERAL **/

img {
  max-width: 100%;
}


#particles-js {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #0c2130 0%, @primary 100%);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js --
-- */
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
/*end header */
.product_information_box_wrapper_info{
  text-align: center;
  margin-top: 30px;
      h5{
        padding-top: 10px;
      }
}


.our_download_application_layout{
  display: block;
  position: relative;
  width: 100%;
  .artmotion_container_wrapper_info_icon{
      justify-content: center;
      left: 500px;
      position: absolute;
      top: 200px;
      width: 200px;
      height: 100px;
      img{
          color:white;
          display: flex;
          justify-content: center;
      }
      a{
          display: flex;
          color: white;
          text-decoration-style: solid;
          margin-top: 20px;
      }
    }
  }
.our_price_subscribe_layout{
  margin-top: 100px;
  width: 100%;
  text-align: center;
  .button_wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  text-align: center;

  a{
    width: 150px;
    height: 50px;
    background: #e91e63;
    color: black;
    padding-top: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 5px;

  }

  }

  }
.our_contact_layout {

  .our_contact_container{
    width: 100%;
    height: auto;
    position : relative;
    .simple_content{
      position: absolute;
      top: 0;
      left: 0;
      margin: 40px;
      h3{
        color: white;
      }
      p{
        color: white;
        font-size: medium;
      }
      .phone{
          padding-top: 200px;
          font-size: 20px;
          color: #222222;
      }
    }
  }
}

   

.simple_go{
  height: 400px;
  display: flex;

  .oferts_conntent{
    text-align: center;
    padding-top:200px ;
    
    button{
      background-color: #42a5f5;
      width: 150px;
      margin-right:500px ;
      height: 30px;
      transition-duration: 0.4s;
      border-radius: 20px;
    }
    h3{
      color: white;
      padding: 10px;
      margin-right: 120px ;
    }
    p{
      color: white;
      padding-left: 78px;
    }
  }
  .artmotion_form{
    margin-left:225px ;
  }
}
.artmotion_questions_layout{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f9fbfd;
}
.armotion_footer_layout{
text-align: center; 
 width: 100%;
  height: 200px;
  padding-top: 100px;
  background-color: #222222;
    img{
      display: inline-block;
    }
    p{
      color: white;
    }
    span{
      color: white;
      font-size: 20px;
    }
}




/* HEADER */
.skynet_header {
  height: 120px;
  position: fixed;
  /*box-shadow: 0 2px 6px rgba(0,0,0,0.20);*/
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 100;
  display: flex;
  align-items: center;
  background: @primary;
  .skynet_header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      img {
        filter: brightness(0) invert(1);
        height: 80px;
      }
    }
    .skynet_header_menu_list {
      transition: all .3s ease-in-out;
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        li{
          margin-left: 30px;
          font-size: 18px;
          line-height: 18px;
          a {
            position: relative;
            text-decoration: none;
            color : white;
            font-weight: bold;
            &:after {
              content: '';
              position: absolute;
              bottom: -5px;
              left: -10px;
              height: 2px;
              background: white;
              width: 0px;
              transition: all .3s ease-in-out;
            }
            &:hover {
              &:after {
                width: calc(100% + 20px);
              }
            }
          }
        }
      }
    }
    .skynet_hamburger {
      display: none;
      position: relative;
      width: 40px;
      height: 22px;
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 20px;
        background: white;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-child(even) {
          left: 50%;
          border-radius: 0 3px 3px 0;
        }
        &:nth-child(odd) {
          left:0px;
          border-radius: 3px 0 0 3px;
        }
        &:nth-child(2) {
          width: 12px;
        }
        &:nth-child(1),&:nth-child(2) {
          top: 0px;
        }
        &:nth-child(3),&:nth-child(4) {
          top: 9px;
        }
        &:nth-child(5),&:nth-child(6) {
          top: 18px;
        }
      }

      &.active {
        span {
          &:nth-child(1),&:nth-child(6) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          &:nth-child(2),&:nth-child(5) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          &:nth-child(1) {
            left: 5px;
            top: 5px;
          }
          &:nth-child(2) {
            left: calc(50% - 5px);
            top: 5px;
            width: 20px;
          }
          &:nth-child(3) {
            left: -50%;
            opacity: 0;
          }
          &:nth-child(4) {
            left: 100%;
            opacity: 0;
          }
          &:nth-child(5) {
            left: 5px;
            top: 15px;
          }
          &:nth-child(6) {
            left: calc(50% - 5px);
            top: 15px;
          }
        }
      }
    }
  }
}
/* END HEADER */

/* FOOTER */
.skynet_footer {
  .skynet_top_footer {
    background: #222222;
    padding: 25px 0;
    color : white;
    .top_footer_content_wrapper {
      padding: 20px 0;
    }
    .footer_title {
      text-transform: uppercase;
      color : @primary;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .footer_logo {
     width: 160px;
    }
    .footer_menu {
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 5px;
          a {
            color : white;
            font-weight: bold;
          }
        }
      }
    }
  }
  .skynet_bottom_footer {
    padding: 25px 0px;
    background: #1a1a1a;
    .skynet_bottom_footer_content {
      display: flex;
      justify-content: space-between;
      p {
        color : white;
        margin-bottom: 0;
      }
      .footer_social_icons {
        display: flex;
        .footer_social_icon {
          background: #2f2f2f;
          margin-right: 10px;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 0;
          i {
            color: #999999;
          }
        }
      }
    }

  }
}
/* END FOOTER */

/* GENERAL ELEMENTS */

#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.content_wrapper {
  flex-grow: 1;
  padding-top: 120px;
  overflow: hidden;
}
.box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-left: 7px solid @primary;
  padding: 20px;
  margin-bottom: 20px;
  .box_btn {
    background: @primary;
    color : white;
    cursor: pointer;
    padding: 8px 25px;
    display: inline-block;
    margin-bottom: 0;
  }
}
.news_box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: block;
  cursor: pointer;
  margin-bottom: 30px;
  transition: all .3s ease-in-out;
  .news_box_image {
    height: 250px;
  }
  .news_box_content {
    padding: 15px;
    h4 {
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
  &:hover {
    transform: scale(1.05);
  }
}
.skynet_accordions {
  .skynet_accordion {
    margin-bottom: 30px;
    .skynet_accordion_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 20px;
      background: #e3e3e3;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      h4 {
        color : black;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      span {
        cursor: pointer;
        padding: 5px;
        transition: all .3s ease-in-out;
        i {
          color : @primary;
          font-size: 20px;
        }

      }
      .open_accordion.active {
        box-shadow: none;
        span {
          transform: rotate(180deg);
        }

      }
    }
  }
  .skynet_accordion_body {
    max-height: 0px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    .skynet_accordion_body_content {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 15px;
      background: #e3e3e3;
      .accordion_image_box {
        display: flex;
        justify-content: center;
      }
    }
  }
}
/* END GENERAL ELEMENTS */

/* TYPOGRAPHY */

h1,h2 {
  font-size: 50px;
  line-height: 60px;
  margin: 0 0 20px 0;
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 15px 0;
}
h4 {
  font-size: 23px;
  line-height: 34px;
  margin: 0 0 20px 0;
}

h6 {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 20px 0;
}
a {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px 0;
  color : #393939;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    color : inherit;
    text-decoration: none;
  }
}
p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px 0;
}
input {
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

/* END TYPOGRAPHY */

/* CONTENT ELEMENTS  */

.banner_layout {
  position: relative;
  height: calc(100vh - 120px);
  margin-bottom: 120px;
  .intro_text_wrapper{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    .intro_text {
      color : white;
      text-align: center;
      .main_title {
        font-size: 80px;
        line-height: 120px;
      }
      .intro_text_quote {
        background: white;
        padding: 20px 160px;
        border-radius: 40px;
        color : #0c2130;
        p {
          font-weight: bold;
          font-size: 30px;
          margin-bottom: 0;
        }

      }
    }
  }
}
.our_services_layout {
  text-align: center;
  margin-bottom: 120px;
  h2 {
    margin-bottom: 60px;
    color : @primary;
  }
  .our_service_box {
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.16);
    padding: 44px 30px 30px;
    height: 100%;
    .image_box {
      min-height: 80px;
      display: flex;
      justify-content: center;
      img {
        margin-bottom: 15px;
      }
    }
    h4 {
      font-weight: bold;
      color : @primary;
    }

  }

}
.images_layout {
  margin-bottom: 120px;
  .image_wrapper {
    margin-bottom: 40px;
    img {
      width: 100%;
    }
  }
}
.tech_support_layout {
  margin-bottom: 120px;
  background: @primary;
  padding: 120px 0px;
  color : white;
  background: linear-gradient(to left, #0c2130 0%, @primary 60%);
}
.clients_services_layout {
  margin-bottom: 120px;
  h3 {
    color : @primary;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.news_page_section {
  margin-top: 60px;
  margin-bottom: 120px;
  h1 {
    margin-bottom: 40px;
  }
}
.related_news_section {
  margin-bottom: 120px;
  h2 {
    text-align: center;
    color : @primary;
    margin-bottom: 60px;
  }
}
.jobs_section {
  margin-top: 60px;
  margin-bottom: 120px;
  h1 {
    margin-bottom: 60px;
  }
}
.jobs_list_section {
  margin-top: 60px;
  margin-bottom: 120px;
  h2 {
    color : @primary;
  }
  .jobs_list_section_title_wrapper {
    text-align: center;
    margin-bottom: 60px;
  }
}
.single_job_wrapper {
  margin-top: 60px;
  margin-bottom: 120px;
}
.single_post_wrapper{
  margin-top: 60px;
  margin-bottom: 120px;
  .main_post_image {
    margin-bottom: 20px;
    width: 100%;
  }
}
.rreth_nesh_layout {
  margin-top: 80px;
  margin-bottom: 120px;
  h2 {
    color : @primary;
  }
}
.tv_layout {
  margin-bottom: 120px;
  margin-top: 60px;
  .tv_layout_title_wrapper {
    margin-bottom: 60px;
    text-align: center;
    h2 {
      color  : @primary;

    }
  }

}
.contact_form_layout{
  .contact_form_layout_title_wrapper {
    margin-bottom: 60px;
    text-align: center;
    h2 {
      color  : @primary;

    }
  }
  label {
    width: 100%;
  }
  input,textarea {
    width: 100%;
    border : none;
    background: #efefef;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    outline: none;
    &.wpcf7-submit {
      background: @primary;
      color : white;
      font-weight: bold;
    }
  }
}
.contact_map_section {
  height: 600px;
}
.contact_boxes_section {
  margin-top: 60px;
  margin-bottom: 120px;
  .contact_box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    height: 100%;
    .icon_wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      .icon {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background: @primary;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color : white;
          font-size: 24px;
        }
      }
    }
    .contact_box_content {
      text-align: center;
      .contact_box_content_title {
        color : @primary;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
    }
  }
}
.newsletter_add_layout {
  margin-bottom: 120px;
  margin-top: 60px;
  .newsletter_add_layout_wrapper {
    padding: 120px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
   a,h4 {
     color : white;
   }
    a {
      background: @primary;
      padding: 14px 40px;
      display: inline-block;
      font-weight: bold;
      border-radius: 28px;
    }
  }
}
.tnp-subscription {
  input.tnp-submit{
    background-color: @primary !important;
    width: 100% !important;
    font-weight: bold;
  }
}
.banner_title_layout {
  padding: 60px 0px;
  background: #f4f4f4;
  margin-bottom: 120px;
}
.newsletter_form_layout {
  margin-bottom: 120px;
}
.banner_image_layout{
  height: calc(100vh - 120px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 120px;
}
.banner_layout_slider{

}
.text_layout{
  margin-bottom: 120px;
  margin-top: 60px;
  .text_layout_title{
    color: @primary;
  }
}
.faq_layout {
  margin-top: 60px;
  margin-bottom: 120px;
  .faq_layout_title_wrapper {
    margin-bottom: 60px;
  }
}
/* END CONTENT ELEMENTS  */


.wrapper_404 {
  text-align: center;
  padding: 80px 0 120px 0;
  h1 {
    font-size: 120px;
    line-height: 120px;
    color : @primary;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 60px;
    line-height: 100px;
  }
}





